.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: -44px;
}

.textWrapper {
  margin-left: 350px;
  margin-top: 50px;
  overflow-y: auto !important;
  margin-right: 44px;
  margin-bottom: 40px;
}

.textWrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.textWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.textWrapper::-webkit-scrollbar-thumb {
  background: #b8b5ac;
  border-radius: 10px;
}

.textWrapper::-webkit-scrollbar-thumb:hover {
  background: #b8b5ac;
}

.textWrapper {
  scrollbar-width: thin;
  scrollbar-color: #b8b5ac #f1f1f1;
}

.text {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.wrapper :global(.swiper-slide) {
  height: 46vh !important;
  width: auto !important;
  cursor: grab;
}

@media (max-width: 1679.98px) {
  .textWrapper {
    margin-left: 280px;
  }
}

@media (max-width: 1439.98px) {
  .textWrapper {
    margin-left: 240px;
    margin-top: 40px;
  }
}

@media (max-width: 1279.98px) {
  .textWrapper {
    margin-top: 30px;
  }
}

@media (max-width: 1280px) and (max-height: 650px) {
  .textWrapper {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 16px;
  }
}
