.wrapper {
  position: relative;
}

.videoBox {
  position: relative;
  height: calc(100svh);
}

.video {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.infoBox {
  padding: 0 24px;
  position: absolute;
  bottom: 40px;
}

.title {
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  max-width: 740px;
}

.titleWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.text {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}
