.wrapper {
  padding: 0px 194px 0px 196px;
  height: calc(100vh - 96px);
  overflow: hidden !important;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 0;
}

.item {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  position: relative;
}

.iconWrapper {
  position: absolute;
  top: 0;
  left: -60px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  width: 22px;
  height: 22px;
  object-fit: cover;
  object-position: center;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin: 18px 0 12px 0;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600 !important;
  line-height: 1.4;
}

.description {
  padding-bottom: 20px;
}

.date {
  font-size: 14px;
  color: #6f756f;
}

.textWrapper {
  overflow: auto;
  flex: 1 1 auto;
  min-height: 0;
  padding-right: 15px;
  margin-bottom: 24px;
  scrollbar-width: thin;
  scrollbar-color: #b8b5ac #f1f1f1;
  -webkit-overflow-scrolling: touch;
}

.innerImg {
  position: relative;
  padding-bottom: 51%;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
}

.textWrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.textWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.textWrapper::-webkit-scrollbar-thumb {
  background: #b8b5ac;
  border-radius: 10px;
}

.textWrapper::-webkit-scrollbar-thumb:hover {
  background: #b8b5ac;
}

@media (max-width: 1679.98px) {
  .item {
    width: 70%;
  }
}

@media (max-width: 1439.98px) {
  .item {
    width: 75%;
  }
}

@media (max-width: 1279.98px) {
  .item {
    width: 80%;
  }
}

@media (max-width: 1023.98px) {
  .menuBox {
    display: none;
  }

  .wrapper {
    padding: 0 20px 80px 20px;
    height: auto;
  }

  .item {
    width: 100%;
  }

  .wrapper {
    height: auto;
  }
}
