.wrapper {
  margin-top: 200px;
}

.row {
  display: flex;
  margin: 0 auto;
  gap: 25px;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.textBoxTitle {
  font-size: 30px;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0;
}

.textBoxText {
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  margin-top: 25px;
  line-height: 30px;
  max-width: 600px;
}

.imageBox {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-areas: "img1 img1 img2" "img3 img3 img3";
  gap: 12px;
}

.imageBox > :first-child {
  grid-area: img1;
}

.imageBox > :nth-child(2) {
  grid-area: img2;
}

.imageBox > :last-child {
  grid-area: img3;
}

.innerImg1 {
  padding-bottom: calc(100% * 0.59);
  position: relative;
}

.innerImg2 {
  padding-bottom: calc(100% * 0.12);
  position: relative;
}

.innerImg3 {
  padding-bottom: calc(100% * 0.27);
  position: relative;
}

.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sendBtn {
  display: block;
  height: 56px;
  background-color: #6f756f;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 40px;
}

.sendIcon {
  display: block;
  width: 20px;
  margin-left: 17px;
}

@media (max-width: 1679.98px) {
  .textBoxText {
    font-size: 16px;
  }

  .wrapper {
    margin-top: 180px;
  }

  .textBoxTitle {
    font-size: 28px;
  }
}

@media (max-width: 1439.98px) {
  .wrapper {
    margin-top: 160px;
  }

  .textBoxTitle {
    font-size: 26px;
  }

  .textBoxText {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media (max-width: 1279.98px) {
  .wrapper {
    margin-top: 120px;
  }

  .textBoxTitle {
    font-size: 24px;
  }

  .textBoxText {
    font-size: 14px;
  }
}
