.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 9999999 !important;
}

.menuItem {
  display: flex;
  position: absolute;
  top: 0;
  height: 100svh;
  width: 75px;
  background-color: #fff;
  pointer-events: auto !important;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.menuItem.active {
  pointer-events: none !important;
}

.menuItemLeft {
  left: 0;
  background-color: #b23f2a;
}

.menuItemRight {
  right: 0;
  background-color: #6f756f;
}

.menuItemLeft.active {
}

.menuItemRight.active {
}

.menuItemLabel {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  writing-mode: sideways-lr;
  text-orientation: mixed;
  transition: color 0.3s;
}

.menuItemRight.active .menuItemLabel {
  color: #fff;
}
