.imageBox {
  width: 60%;
}

.innerImg {
  padding-bottom: calc(100% * 0.62);
  position: relative;
}

.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .imageBox {
    width: 100%;
  }
}
