.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: calc(490px + 100px + 50px);
}

.locationHeight {
  /* top: calc(45px + 50%) !important; */
}

.slug {
  left: 195px !important;
}

.item {
  padding: 6px 16px;
  color: #fff;
  background-color: #b8b5ac;
  width: max-content;
  font-size: 20px;
  font-weight: normal !important;
  cursor: pointer;
}

.active {
  color: #000;
}

@media (max-width: 1799.98px) {
  .menu {
    top: calc(459.4px + 100px + 50px);
  }
}

@media (max-width: 1679.98px) {
  .wrapper {
    padding: 100px 16px 0 100px;
  }

  .menu {
    top: calc(429.1px + 100px + 50px);
  }

  .item {
    font-size: 18px;
  }

  .slug {
    left: 150px !important;
  }
}

@media (max-width: 1439.98px) {
  .wrapper {
    padding: 100px 16px 0 56px;
  }
  .item {
    font-size: 16px;
  }
  .menu {
    top: calc(368px + 100px + 50px);
  }
}

@media (max-width: 1365.98px) {
  .menu {
    top: calc(349px + 100px + 50px);
  }

  .slug {
    left: 120px !important;
  }
}

@media (max-width: 1279.98px) {
  .wrapper {
    padding: 100px 16px 0 36px;
  }

  .menu {
    top: calc(327px + 100px + 50px);
  }

  .slug {
    left: 80px !important;
  }
}
